<?xml version="1.0" encoding="UTF-8"?>
<plugin>
        <name>
                <lang name="default">Sitemap</lang>
        </name>
        <author>
                <lang name="default">Dmitriy Gadeev, Stepan Tanasiychuk</lang>
                <lang name="russian">Дмитрий Гадеев, Степан Танасийчук</lang>
                <lang name="ukrainian">Дмитро Гадєєв, Степан Танасійчук</lang>
        </author>
        <homepage>http://www.assembla.com/spaces/ls-sitemap/wiki</homepage>
        <version>0.2.1</version>
        <requires>
                <livestreet>0.4.2</livestreet>
        </requires>
        <description>
                <lang name="default">Sitemap generator</lang>
                <lang name="russian">Sitemap генератор</lang>
                <lang name="ukrainian">Sitemap генератор</lang>
        </description>
</plugin>